.code {
  display: flex;
  gap: 10px;
  align-items: stretch;

  margin-bottom: 2rem;
  margin-top: 2rem;

  border-radius: 8px;
  background-color: #222;

  .left-elem {
    background-color: #ff4b2bb5;
    width: 10px;
    border-radius: 8px 0 0 8px;
  }
  pre {
    padding: 0.8rem 2rem 2rem 2rem;

    font-size: 1.8rem;
  }
}
