.training {
  position: relative;
  height: calc(100vh - 20rem);
  h1 {
    margin-bottom: 3.5rem;

    text-transform: uppercase;
    font-family: Made;
    font-size: 3.2rem;
  }
  .top {
    position: relative;
    .stroke {
      margin-bottom: 2rem;
      padding: 2rem;

      background: #2d384a;
      overflow: hidden;
      border-radius: 20px;

      font-size: 2.4rem;

      .text {
        position: relative;
        left: 5vw;
        text-wrap: nowrap;

        .made {
          color: #d2d2d2;
        }
        .now {
          text-decoration: underline;
          color: #ff4c2b;
        }
        .farther {
          color: #818181;
        }
      }
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: center;
      .text-info {
        text-wrap: nowrap;

        display: flex;
        gap: 3rem;
        * {
          font-size: 1.6rem;
        }
      }
      // button {
      //   padding: 0.8rem 5rem;
      //   border: 2px #818181 solid;

      //   border-radius: 20px;

      //   background-color: transparent;
      //   font-family: Montserrat;
      //   color: white;
      //   cursor: pointer;
      //   transition: all 0.3s ease;

      //   &:hover {
      //     color: #0a1f32;
      //     background-color: #818181;
      //   }
      // }
    }
  }
  .keyboard {
    width: 73rem;
    margin: 5rem auto;
    display: grid;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .button {
      min-width: 5rem;
      height: 5rem;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 2rem;
      color: #ffffff;
      text-transform: uppercase;

      &.active {
        background-color: #ff4c2b !important;
        font-weight: 800;
      }
      &.Space {
        width: 46rem;
        margin-left: 10rem;
      }
      &.ShiftLeft {
        padding: 0 1.6rem;

        margin-left: -40px;
      }
      &.KeyA {
        margin-left: 2rem;
      }
    }
  }
}
